In [1]:
import pandas as pd
import numpy as np
df=pd.read_excel(r"C:\Users\Farah Alfarjani\Desktop\AI Course\diabetes_prediction_dataset.xlsx")

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  99999 non-null   float64
 8   diabetes             100000 non-null  int64
dtypes: float64(4), int64(3), object(2)
memory usage: 6.9+ MB

In [3]:
df.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    1
diabetes               0
dtype: int64

In [4]:
df=df.dropna(subset=['blood_glucose_level'])
df.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

In [5]:
df.duplicated().sum()

np.int64(3854)

In [6]:
df=df.drop_duplicates()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96145 entries, 1 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               96145 non-null  object
 1   age                  96145 non-null  float64
 2   hypertension         96145 non-null  int64
 3   heart_disease        96145 non-null  int64
 4   smoking_history      96145 non-null  object
 5   bmi                  96145 non-null  float64
 6   HbA1c_level          96145 non-null  float64
 7   blood_glucose_level  96145 non-null  float64
 8   diabetes             96145 non-null  int64
dtypes: float64(4), int64(3), object(2)
memory usage: 7.3+ MB

In [8]:
print(df.dtypes)

gender                  object
age                    float64
hypertension             int64
heart_disease            int64
smoking_history         object
bmi                    float64
HbA1c_level            float64
blood_glucose_level    float64
diabetes                 int64
dtype: object

In [9]:
print("unique values:", df['gender'].unique())   
print("unique values;", df['smoking_history'].unique())

unique values: ['Female' 'Male' 'Other']
unique values; ['No Info' 'never' 'current' 'former' 'ever' 'not current']

In [10]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['gender']=le.fit_transform(df['gender'])
df["smoking_history"]= le.fit_transform(df["smoking_history"])
df.head(10)

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
1,0,54.0,0,0,0,27.32,6.6,80.0,0
2,1,28.0,0,0,4,27.32,5.7,158.0,0
3,0,36.0,0,0,1,23.45,5.0,155.0,0
4,1,76.0,1,1,1,20.14,4.8,155.0,0
5,0,20.0,0,0,4,27.32,6.6,85.0,0
6,0,44.0,0,0,4,19.31,6.5,200.0,1
7,0,79.0,0,0,0,23.86,5.7,85.0,0
8,1,42.0,0,0,4,33.64,4.8,145.0,0
9,0,32.0,0,0,4,27.32,5.0,100.0,0
10,0,53.0,0,0,4,27.32,6.1,85.0,0

In [11]:
print("unique values:", df['gender'].unique())   
print("unique values;", df['smoking_history'].unique())

unique values: [0 1 2]
unique values; [0 4 1 3 2 5]

In [12]:
print(df.dtypes)

gender                   int64
age                    float64
hypertension             int64
heart_disease            int64
smoking_history          int64
bmi                    float64
HbA1c_level            float64
blood_glucose_level    float64
diabetes                 int64
dtype: object

In [13]:
x=df.drop("diabetes", axis=1)
y=df['diabetes']
print(x.columns)

Index(['gender', 'age', 'hypertension', 'heart_disease', 'smoking_history',
       'bmi', 'HbA1c_level', 'blood_glucose_level'],
      dtype='object')

In [14]:
from sklearn.model_selection import train_test_split
model=(x_train,x_test,y_train,y_test)=train_test_split(x,y,test_size=0.3, random_state=42)

In [15]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=50, random_state=42) 
model.fit(x_train, y_train)
y_pred=model.predict(x_test)

In [16]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

print("Accuracy:", accuracy_score(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.9689016779919567
Confusion Matrix:
 [[26163    96]
 [  801  1784]]
Report:
               precision    recall  f1-score   support

           0       0.97      1.00      0.98     26259
           1       0.95      0.69      0.80      2585

    accuracy                           0.97     28844
   macro avg       0.96      0.84      0.89     28844
weighted avg       0.97      0.97      0.97     28844

In [17]:
import joblib
joblib.dump(model, "model.joblib")

['model.joblib']